//
// Placeholder Classes
//

//
// %full-width-bar
// Makes the block level element span the entire browser width
// so, for example, we can have a full width color block
// while retaining the standard content width.
//
%full-width-bar{
	margin: 0 -1000px;
	padding: 0.5em 1000px;
}

//
// %header-text-treatment
// Standard treatment for text on a dark graphic background
// Uses text-shadow to help the letters stand out
//
%header-text-treatment {
//	text-shadow: 0 0 4px darken($color-alt, 30%);
	color: #fff;
	text-transform: uppercase;
}

//
// %menu-table
// Formatting for menu tables
// Collapses borders, aligns elements
// and provides styles for table headings
//
%menu-table {
	width: 100%;
	border-collapse: collapse;
//	margin: $standard-margin*3 0;

	th {
		text-align: left;
		font-weight: 800;
	}

	th,
	td {
//		padding: $standard-margin/2;
		padding-left: 6%;
	}

	th:first-child,
	td:first-child {
		padding-left: 0;
		width: 50%;
		text-align: right;
		padding-right: 6%;
	}

	td:first-child {
//		border-right: 1px solid tdd-color(galaxy-orange);
	}

	h3 {
		display: inline;
		margin: 0;
//		color: tdd-color(galaxy-orange);
	}

	th:last-child,
	td:last-child {
		padding-right: 0;
	}

}


//	Workshop: Placeholder Classes and @extend
//	@extend can be used to extend any class that has already been defined. Extending
//	means that it will stack selectors. E.g. .class, .class-extends-class { ... }
//
//	Placeholder classes do not print any CSS until they are used, which make them
//	great candidates for this functionality.
//
//	Example:
//	%call-to-action {
//		font-family: $font-family-serif;
//		font-size: 3em;
//		color: $color-alt;
//	}
//
//	.sign-up {
//		@extend %call-to-action
//	}
//
//	Tasks:
//	1. Create a placeholder class called inline-list that can be applied to <ul> and <ol>
//	2. Reset the browser list padding, set immediate child <li> elements to be inline-block and list-style-type: none
//	3. Uncomment *all* @extend calls in the rest of the scss files

//
// %inline-list
// Immediate child LIs are displayed inline
// Resets padding and list styles
// Does not affect lists nested within the inline-list
//
