//
// Variables
//

//	Workshop: Maps (arrays)
//	Variables can be simple values (as we've already seen). They can also be a list of
//	values. Such as `$border: 1px solid red` - the list is 1px, solid, and red. Lists
//	can, in turn, be multi-dimensional and include definitions for each item in the list
//
//	Example:
//	$base-sizes: (
//		font: 16px,
//		line-height: 1.2,
//		margin: 2em,
//		sidebar: 300px
//	);
//
//	Tasks:
//	1. Create a map called $color-definitions
//	2. Add the following keys:
//		 * battlestar-red
//		 * steel
//		 * galaxy-rose
//		 * galaxy-orange
//		 * galaxy-gray
//		 * galaxy-dark-gray
//		 * very-light-gray
//		 * light-gray
//		 * dark-gray
//	3. Assign colors for each of these keys.

// Color definition map
$color-definitions: (
	battlestar-red: #e1252c,
	steel: #c0acae,
	galaxy-rose: #e7545f,
	galaxy-orange: #e9aa71,
	galaxy-gray: #3d404d,
	galaxy-dark-gray: darken( #3d404d, 10%),
	very-light-gray: #fefefe,
	light-gray: #efefef,
	dark-gray: #444,
);

//	WORKSHOP: Variables
//	Variables can be defined anywhere by using the dollar sign ($). Typically you'd
//	want to assign a variable for any value that is used repeatedly and/or might change
//	later. Common usage includes colors and fonts. Also consider common spacing or measurements
//
//	Example:
//	$sidebar-width: 320px; // sets the sidebar width.
//
//	Tasks:
//	1. Assign the following variables:
//			* color-alt
//			* color-link
//			* color-text
//			* color-background
//			* font-family-headline
//			* font-family-body
//			* standard-font-size
//			* standard-margin
//			* content-width
//	2. Uncomment usages throughout the codebase for each of these variables

// Colors
$color-alt: tdd-color(battlestar-red);
$color-link: tdd-color(battlestar-red);

$color-text: tdd-color(galaxy-gray);
$color-background: tdd-color(very-light-gray);

// Fonts
// Antic slab is serif, Exo 2 is sans — both are from Google Fonts and loaded in <head>
$font-family-headline: 'Antic Slab', Georgia, serif;
$font-family-body: 'Exo 2', Exo, Futura, Helvetica Neue, Helvetica, Arial, sans-serif;

// Box Model (margin, width, etc)
$standard-font-size: 16px;
$standard-margin: 16px;
$content-width: 800px;