footer[role=contentinfo] {
	@extend %full-width-bar;
//	@include optical-center(50px);
//	background-color: tdd-color(galaxy-dark-gray);
	color: #fff;

	.no-network {
		width: 48%;
		margin-right: 2%;
		display: inline-block;
		vertical-align: middle;

		img {
			width: 100px;
			max-width: 40%;
			display: inline-block;
			margin-right: 4%;
			vertical-align: middle;
		}

		span {
			max-width: 56%;
			vertical-align: middle;
			display: inline-block;
		}
	}

	.so-say-we-all {
		display: inline-block;
		width: 48%;
		text-align: right;
		text-transform: uppercase;
		font-size: 50px;
		vertical-align: middle;
//		color: tdd-color(galaxy-gray);
	}
}