.photos {
//	@extend %full-width-bar;
//	background-color: tdd-color(galaxy-gray);
	background-image: url(img/galaxy.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center bottom;

	h2 {
//		@extend %header-text-treatment;
//		@include ruled-heading(#fff);
		text-align: center;
		text-transform: none;
		margin-top: 0;
//		margin-bottom: $standard-margin*4;
	}

	ul {
//		@extend %inline-list;
//		@include image-grid();
	}
}
