.starbucks {
//	@extend %full-width-bar;
//	@include optical-center($standard-margin*6);
	//	background-color: tdd-color(galaxy-dark-gray);
	color: #fff;
	font-style: italic;
	font-size: 36px;
	font-weight: 100;
	vertical-align: middle;
	text-align: center;

	img {
		vertical-align: middle;
		width: 100px;
		height: 100px;
		margin-right: 1em;
	}
}
