//	Workshop: Comprehensive example & Control Structures
//
//	This example will add font icons and font icon support to this website.
//
//	Tasks:
//	1. In the @font-face declaration below, 'fonts/icomoon/fonts/icomoon.' is repeated
//		 five times. Use a sass variable to define it once, instead.
//
//	2. Below, there are selectors for every icon in the font. .icon-icon-name {..}
//		 we can gain some efficiency by doing a number of things
//		 		2a. Create a variable map that holds the icon name and the css content: value (e.g. \e694)
//				2b. Create a placeholder class for the CSS common to each icon
//				2c. using @each, loop through your map to create a class for each icon
//				2d. Create an icon mixin so that existing classes can be extended to add an icon
//			  2e. Remove any places where the icon mixin was commented out
//
@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon/fonts/icomoon.eot?-4rvc6i');
	src: url('fonts/icomoon/fonts/icomoon.eot?#iefix-4rvc6i') format('embedded-opentype'), url('fonts/icomoon/fonts/icomoon.woff?-4rvc6i') format('woff'), url('fonts/icomoon/fonts/icomoon.ttf?-4rvc6i') format('truetype'), url('fonts/icomoon/fonts/icomoon.svg?-4rvc6i#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-book:before,
.icon-image:before,
.icon-coffee:before,
.icon-time:before,
.icon-twitter:before,
.icon-pasta:before,
.icon-smoking:before,
.icon-mapmarker:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	padding-right: .5em;
	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
	content: "\e604";
	font-family: 'icomoon';
}

.icon-image:before {
	content: "\e607";
}

.icon-coffee:before {
	content: "\e603";
}

.icon-time:before {
	content: "\e606";
}

.icon-twitter:before {
	content: "\e602";
}

.icon-pasta:before {
	content: "\e601";
}

.icon-smoking:before {
	content: "\e600";
}

.icon-mapmarker:before {
	content: "\e604";
}

// icon
// Extends an icon class. @extend into any selector to add an icon before it
// @param $icon named icon from above (e.g. mapmarker)
